<section class="section hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column has-text-centered">
          <h1 class="title">500 Internal server error</h1>
          <p class="subtitle">An unexpected error has occurred. Please try again later.</p>
          <a class="button" routerLink="/">Back</a>
        </div>
        <div class="column has-text-centered">
          <img src="https://www.eastfieldcollege.edu/PublishingImages/Pages/PageNotFoundError/404-robot.gif" />
        </div>
      </div>
    </div>
  </div>
</section>
