<section class="hero is-fullheight is-default is-bold">
  <ngx-spinner bdColor = "rgba(225,225,233,0.8)"
               size = "medium"
               color = "#000000"
               type = "ball-clip-rotate"
               [fullScreen] = "false">
    <p style="color: white" > Logging in... </p>
  </ngx-spinner>
  <div class="hero-head"></div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column is-5">
          <figure class="image is-4by3">
            <img src="/assets/img/pizza_product.png" alt="Description">
          </figure>
        </div>
        <div class="column is-6 is-offset-1">
          <h1 class="title is-2">
            Product to buy
          </h1>
          <div class="field">
            <div class="control">
              <label class="label">Product ID: 1</label>
              <label class="label">Product cost: {{productModel.productCost}}</label>
              <label class="label">Shipping cost: {{productModel.shippingCost}}</label>
              <label class="label">Total cost: {{productModel.totalCost}}</label>
              <label class="label">Tax: {{productModel.tax}}</label>
              <label class="label">Currency: {{productModel.currency}}</label>
              <label class="label">Product name: {{productModel.productName}}</label>
              <label class="label">User ID: {{productModel.userId}}</label>
            </div>
            <button class="button is-primary" (click)="authorizePayment()">Buy PIZZA with PAYPAL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
