<section class="hero is-fullheight is-default is-bold">
  <div class="hero-head"></div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column is-5">
          <figure class="image is-4by3">
            <img src="/assets/img/pizza_product.png" alt="Description">
          </figure>
        </div>
        <div class="column is-6 is-offset-1">
          <h1 class="title is-2">
            Product to buy
          </h1>
          <div class="field">
            <div class="control">
              <label class="label">Product ID: 1</label>
              <label class="label">Product cost: 2</label>
              <label class="label">Shipping cost: 1</label>
              <label class="label">Total cost: 4</label>
              <label class="label">Tax: 1</label>
              <label class="label">Currency: USD</label>
              <label class="label">Product name: Pizza</label>
              <label class="label">User ID: 1</label>
            </div>
            <button class="button is-primary" (click)="onSubmit()">Buy PIZZA with PAYPAL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
